* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

.header1 {
  padding: 15px;
  background-color: royalblue;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 15px;
  background-color: royalblue;
}

.title1 {
  margin-left: 160px;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 50px;
  font-weight: 700;
  margin-left: 250px;
  color: whitesmoke;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 95px;
  margin-top: 34px;
}

.work {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.recent {
  padding: 6px 0;
  font-size: 35px;
  color: whitesmoke;
}

.refresh,
.submit {
  background-color: royalblue;
  color: whitesmoke;
  border: 1px solid floralwhite;
  padding: 3px 13px;
  font-weight: 600;
  transition: all 100ms;
}

.refresh:hover {
  background-color: skyblue;
}

.table_container {
  width: 100%;
  border: 1px solid royalblue;
  border-radius: 2px;
  background-color: whitesmoke;
}

.table_container tr:nth-child(even) {
  background-color: grey;
}

.table_container tr:nth-child(odd) {
  background-color: white;
}

.score {
  background-color: royalblue;
  background-size: 100px;
  color: whitesmoke;
}

.point {
  font-weight: 800;
  margin-left: 10px;
}

.Formx {
  margin-top: 27px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 25px;
  gap: 20px;
}

input {
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 2px;
}

input::placeholder {
  color: black;
  font-weight: 600;
}

.submit {
  align-self: flex-end;
}

.submit:hover {
  background-color: skyblue;
}
